@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #8b5cf6;
  --primary-light: #a78bfa;
  --primary-dark: #7c3aed;
  --background: #faf9ff;
  --foreground: #000;
  --text-primary: #475569;
  --text-secondary: #64748b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #180c2c;
    --foreground: #fff;
    --text-primary: #f1f5f9;
    --text-secondary: #e2e8f0;
  }
}

@layer base {
  body {
    @apply bg-background text-text-secondary p-4;
  }

  input {
    @apply border border-black rounded-md px-2 py-1 bg-white text-black dark:border-white dark:bg-black dark:text-white outline-none focus:border-primary placeholder:text-slate-500;
  }

  button {
    @apply bg-violet-500 bg-opacity-10 text-primary font-medium rounded-lg px-3.5 py-2 hover:bg-violet-400 hover:bg-opacity-10 outline-none focus:ring-1 focus:ring-primary-dark active:scale-90 transition-transform duration-100;
  }

  h1 {
    @apply text-text-primary font-bold text-4xl mb-4;
  }

  p {
    @apply text-text-secondary font-medium;
  }
}
