@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f43f5e;
  --primary-light: #fb7185;
  --primary-dark: #e11d48;
  --background: #fff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white;
  }

  input {
    @apply border border-black rounded-md px-2 py-1 bg-white text-black dark:border-white dark:bg-black dark:text-white outline-none focus:border-primary placeholder:text-slate-500;
  }

  button {
    @apply bg-primary text-white rounded-md px-2.5 py-1 hover:bg-primary-dark outline-none focus:ring-1 focus:ring-primary-dark active:scale-90 transition-transform duration-100;
  }
}
